.title-1{
    color: blueviolet;
    background-color: chartreuse;
    font-size: small;
}

.title-2{
    color: rgb(48, 63, 33);
    background-color: cyan;
    font-size: x-large;
}

.title-3{
    color: rgb(red, green, blue);
    background-color: rgb(48, 63, 33);
    font-size: xx-large;
}

.title-4{
    color: rgb(red, green, blue);
    background-color: rgb(48, 63, 33);
    font-size: 25px;
}
.raime{
    width: 200px;
    height: 500px;
    background-color: rgb(48, 63, 33);
}
p{
    color: seashell;
}

.HOME{
    color: sienna;
    font-size: 50px;
    font-style: oblique;
}

.CONTACT{
    color: sienna;
    font-size: 50px;
    font-style: oblique;
}

.NAV{
    background-color: skyblue;
    font-style: 200px;
}